.boxContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin:1rem;


    .infoBox {
      display:inline-block;
      grid-template-columns: 100%;
      text-align: center;
      

    .boxLogo {
    border:none;
    border-radius: 10rem;
    height:100%;
    width:100%;
    background-color: white;
    box-shadow: 0 0 0.375rem 0.25rem  rgb(170, 165, 165)

  
    }

  }
    .boxHead {
        font-weight: bold;
    }


}