.ShopButton{
    position:relative;
    font-weight: bold;
    border:none;
    height:3rem;
    width:10rem;
    background-color: $color-coral;
    color:#fff;
}

.ShopButton .top-left
{
    background-color:$color-coral;
    position:absolute;
    height:1rem;
    width:1rem;
    top:7px;
    left:8px;
    border: solid 1px #fff;
    border-right-color: $color-coral;
    border-bottom-color:$color-coral;
}

.ShopButton .bottom-right
{
    background-color:$color-coral;
    border-left-color: $color-coral;
    border-top-color:$color-coral;
    position:absolute;
    height:1rem;
    width:1rem;
    bottom:7px;
    right:8px;
    border-bottom: 1px solid #FFF;
    border-right: 1px solid #FFF; 
}

  button:hover {
    background-color: #000;
    color:#fff;
    transition:0.2s ease-in-out;

    .top-left {
        background-color: #000;
        border: solid 1px #fff;
        border-right-color: #000;
        border-bottom-color:#000;
    
    }

    .bottom-right {
        background-color: #000;
        border-left-color: #000;
        border-top-color:#000;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff; 
    }
}